.background{
    -fx-background-color: linear-gradient(to left, #55b282,transparent);

}
.pane-box{
    -fx-background-color: rgba(0,0,0 ,0.2);
    -fx-background-radius: 20;
}

.NameLabel {
    -fx-background-redius: 20;
    -fx-effect: dropshadow(gaussian,#9046b9, 10, 0.1, 0, 0);
}

.sendLabel {
    -fx-background-redius: 20;
    -fx-effect: dropshadow(gaussian, #1b72e4, 5, 0.1, 0, 0);
}

.button-login{
    -fx-text-fill:#ffff ;
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-background-color: #a4aab4 ;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(gaussian,#9046b9, 10, 0.1, 0, 0);
}

